node_modules
dist
.env
coverage
coverage.json
contracts/Test*.sol
review_notes.md
typechain
typechain-types
.DS_store

#Hardhat files
cache
artifacts
deployments/localhost

#Certora
.certora*
resource_errors.json
last_conf*

certora*.txt
.zip-output-url.txt